/* Theme style */
body {
  background: #ffffff;
}
body,
button,
input,
select,
textarea {
  color: #6d6d6d;
}
a {
  color: #3bbdcb;
}
a:visited {
  color: #3bbdcb;
}
a:hover,
a:focus,
a:active {
  color: #000000;
  text-decoration: none;
}
/* Header*/
#masthead {
  background: #363839;
  padding: 0px 0px;
  min-height: 80px;
  position: fixed;
  top: 0px;
  z-index: 300;
  width: 100%;
}
#masthead .site-branding h1 {
  margin: 20px 0px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 32px;
}
#masthead .site-branding h1 a:link,
#masthead .site-branding h1 a:visited {
  color: #fff;
}
/* Menu */
.slicknav_menu {
  display: none;
}
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: auto;
}
.main-navigation ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main-navigation ul li {
  position: relative;
  float: left;
}
.main-navigation a:link,
.main-navigation a:visited {
  display: block;
  text-decoration: none;
  color: #999;
}
.main-navigation ul.menu > li {
  font-weight: bold;
  font-size: 14px;
}
.main-navigation ul.menu > li.current-menu-item > a {
  color: #fff;
}
.main-navigation .menu li.menu-item-has-children:after {
  content: "\f107";
  font-family: 'Fontawesome';
  position: absolute;
  right: 0px;
  top: 30px;
}
.main-navigation .sub-menu li.menu-item-has-children:after {
  content: "\f105";
  font-family: 'Fontawesome';
  position: absolute;
  right: 10px;
  top: 15px;
}
.main-navigation ul > li a:link,
.main-navigation .main-navigation ul > li a:visited {
  color: #999;
  padding: 29px 0px 29px 0px;
  margin: 0px 15px 0px 10px;
}
.main-navigation ul > li a:hover {
  color: #eee;
  display: block;
}
.main-navigation ul ul {
  background: #363839;
  display: none;
  float: left;
  left: 0;
  position: absolute;
  top: 80px;
  z-index: 99999;
  border: 1px solid #2a2b2c;
}
.main-navigation ul ul ul {
  left: 100%;
  top: -1px;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul ul li {
  border-bottom: 1px solid #2a2b2c;
  font-size: 13px;
  font-weight: 600;
}
.main-navigation ul ul li a:link,
.main-navigation ul ul li a:visited {
  color: #999;
  padding: 15px 10px;
  margin: 0px 0px;
}
.main-navigation ul ul li a:hover {
  color: #eee;
}
.main-navigation ul li:last-child {
  border: none;
}
.main-navigation ul li:hover > ul {
  display: block;
}
/*Slider*/
#slider-box {
  position: relative;
  overflow: hidden;
}
#slider-box .flex-caption {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: #fff;
  padding: 20px 0px;
}
#slider-box .flex-caption h2 {
  margin: 0px 0px 10px 0px;
  padding: 0px 50px;
  text-transform: uppercase;
  font-weight: 800;
}
#slider-box .flex-caption span {
  padding: 0px 50px;
  display: block;
}
#slider-box .flex-caption span p {
  margin-bottom: 0px;
}
/* Common */
.home-section {
  margin-bottom: 50px;
}
.section-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  text-align: center;
}
.section-title h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin: 0px 0px;
}
/* Welcome box*/
#welcome-box {
  background: #556096;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
}
#welcome-box h2 {
  margin: 0px;
  font-weight: 800;
  color: #fff;
  font-size: 42px;
}
#welcome-box span {
  display: block;
  color: #fff;
  font-size: 18px;
}
/*Home widgets*/
.home-widget {
  text-align: center;
  margin-top: 40px;
}
.home-widget i {
  font-size: 42px;
  color: #556096;
}
.home-widget h1.home-widget-title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
/*Home portfolio*/
.home-portfolio-list {
  margin: 40px 0px 0px 0px;
  padding: 0px;
}
.home-portfolio-list li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 25%;
  float: left;
  position: relative;
}
.home-portfolio-list li .overlay {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.home-portfolio-list li .overlay h3 {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.home-portfolio-list li:hover .overlay {
  display: block;
  cursor: pointer;
}
/*Home blog*/
.home-blog {
  margin-top: 40px;
}
.home-blog img.blog-thumb {
  display: block;
  margin-bottom: 20px;
}
.home-blog .home-blog-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.home-blog .home-blog-title .hdate {
  width: 50px;
  height: 50px;
  background: #556096;
  float: left;
  margin-right: 20px;
}
.home-blog .home-blog-title .hdate span.month {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  font-weight: 800;
  width: 50px;
  display: block;
  margin-top: 7px;
}
.home-blog .home-blog-title .hdate span.date {
  text-align: center;
  display: block;
  color: #fff;
  margin-top: -3px;
}
.home-blog .home-blog-title h2 {
  clear: right;
  margin: 0px 0px 5px 0px;
  color: #000;
  font-size: 20px;
  font-weight: 800;
}
.home-blog .home-blog-title span {
  font-size: 14px;
}
/* Clinets logo*/
#client-box {
  padding-top: 40px;
  border-top: 1px solid #eee;
}
#client-box .client-logo {
  text-align: center;
  cursor: pointer;
}
/*Index*/
#content {
  margin-top: 80px;
}
#sub-header {
  background: #515c8f;
  padding: 50px;
  color: #fff;
}
#sub-header h2 {
  margin: 0px 0px;
  text-transform: uppercase;
}
#sub-header span {
  margin-right: 10px;
  font-size: 14px;
}
#sub-header span a {
  color: #fff;
}
#primary,
#secondary {
  padding: 40px 0px;
}
.post {
  margin-bottom: 50px;
}
.entry-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.entry-header .post-thumb {
  display: block;
  margin-bottom: 20px;
}
.entry-header .hdate {
  width: 50px;
  height: 50px;
  background: #556096;
  float: left;
  margin-right: 20px;
}
.entry-header .hdate span.month {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  font-weight: 800;
  width: 50px;
  display: block;
  margin-top: 7px;
}
.entry-header .hdate span.date {
  text-align: center;
  display: block;
  color: #fff;
  margin-top: -3px;
}
.entry-header h1.entry-title {
  clear: right;
  font-size: 28px;
  font-weight: 800;
  color: #000;
  margin: 0px 0px 5px 0px;
}
.entry-header h1.entry-title a:link,
.entry-header h1.entry-title a:visited {
  color: #000;
}
.entry-content .folio-list {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #eee;
  list-style: none;
  text-align: center;
}
.entry-content .folio-list li {
  list-style: none;
  margin-bottom: 30px;
}
.entry-meta {
  font-size: 14px;
}
.entry-meta span {
  margin-right: 5px;
}
.fab-pagination {
  border: 1px solid #ddd;
  border-radius: 3px;
}
.fab-pagination span {
  padding: 8px 15px;
  display: inline-block;
  border-right: 1px solid #ddd;
  background: #f4f4f4;
}
.fab-pagination a {
  padding: 8px 15px;
  display: inline-block;
  border-right: 1px solid #ddd;
}
/*Portfolio*/
.folio-box {
  margin-bottom: 40px;
  position: relative;
}
.folio-box .folio-data {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0px;
  background: rgba(85, 96, 150, 0.8);
  display: none;
  color: #fff;
}
.folio-box .folio-data h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 0px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  text-align: center;
}
.folio-box .folio-data h2 a:link,
.folio-box .folio-data h2 a:visited {
  color: #fff;
}
.folio-box:hover .folio-data {
  display: block;
  cursor: pointer;
}
/*Sidebar*/
#secondary .widget {
  margin-bottom: 40px;
}
#secondary .widget h1.widget-title {
  font-size: 20px;
  color: #000;
  font-weight: 800;
  margin: 0px 0px 30px 0px;
  position: relative;
}
#secondary .widget h1.widget-title:after {
  content: "";
  width: 60px;
  background: #556096;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
#secondary .widget ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#secondary .widget ul li {
  list-style: none;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px dotted #ddd;
}
#secondary .widget ul li a:link,
#secondary .widget ul li a:visited {
  color: #6d6d6d;
}
#secondary .squarebanner {
  margin-bottom: 40px;
}
#secondary .squarebanner h3.sidetitl {
  font-size: 20px;
  color: #000;
  font-weight: 800;
  margin: 0px 0px 30px 0px;
  position: relative;
}
#secondary .squarebanner h3.sidetitl:after {
  content: "";
  width: 60px;
  background: #556096;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
#secondary .squarebanner ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#secondary .squarebanner ul li {
  float: left;
  margin: 0px 20px 20px 0px;
}
/*Comments*/
#comments .comment-navigation {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 14px;
  background: #fbfbfb;
}
#comments h2.comments-title {
  font-size: 24px;
  color: #222;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 5px solid #eee;
  font-weight: 700;
}
#comments ol.comment-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#comments ol.comment-list li {
  margin: 30px 0px 0px 0px;
}
#comments ol.comment-list li .comment-body .comment-meta {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#comments ol.comment-list li .comment-body .comment-meta .avatar {
  float: left;
  margin-right: 20px;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-author {
  font-weight: bold;
  font-size: 18px;
  color: #222;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-author a {
  color: #222;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-author cite {
  font-style: normal;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-metadata {
  font-size: 14px;
}
#comments ol.comment-list li .comment-body .comment-meta .comment-metadata span,
#comments ol.comment-list li .comment-body .comment-meta .comment-metadata a {
  margin: 0px 2px;
}
#comments ol.comment-list li .comment-body .comment-meta p.comment-awaiting-moderation {
  margin: 0px 0px 0px 70px;
  color: #ff0000;
}
#comments ol.comment-list li .comment-body .comment-content {
  padding-top: 20px;
}
#comments #respond {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 30px 30px;
  background: #fbfbfb;
}
#comments #respond h3 {
  color: #222;
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  font-weight: 700;
}
#comments #respond p {
  margin-bottom: 10px;
}
#comments #respond p label {
  display: block;
}
#comments #respond p input {
  border-color: #ddd;
}
#comments #respond p.logged-in-as {
  display: none;
}
#comments #respond p.form-submit {
  margin-bottom: 0px;
}
/*Footer widgets*/
#footer-widgets {
  background: #363839;
  padding: 30px 0px;
}
#footer-widgets .widget {
  margin-bottom: 30px;
  text-shadow: 1px 1px 0px #222;
  color: #aaa;
}
#footer-widgets .widget h1.widget-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
#footer-widgets .widget h1.widget-title:after {
  content: "";
  width: 60px;
  background: #556096;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
#footer-widgets .widget ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#footer-widgets .widget ul li {
  list-style: none;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}
#footer-widgets .widget ul li a:link,
#footer-widgets .widget ul li a:visited {
  color: #aaa;
}
#footer-widgets .widget ul li a:hover {
  color: #fff;
}
/*Footer*/
.site-footer {
  background: #1d1e1f;
}
.site-footer .site-info {
  padding: 30px 0px;
  color: #aaa;
}
.site-footer .site-info a {
  color: #aaa;
}
